<header>
  <span class="logo">Doner  Place</span>

    <span *ngIf="authenticated" class="greeting">Welcome, {{username}}! |
        <a href="javascript:void(0)" (click)="logout()">[logout]</a>
    </span>
  
    <ul class="menu">
      <li><a class="button" routerLink="/">Home</a></li>

        <li *ngIf="authenticated">
          <a *ngIf="isAdmin" class="button" routerLink="/order/status-admin">Order Status</a>
          <a *ngIf="!isAdmin" class="button" routerLink="/order/status">Order Status</a>
        </li>

        <li *ngIf="!authenticated"><a class="button" routerLink="/users/login">Login</a></li>
        <li *ngIf="!authenticated"><a class="button" routerLink="/users/register">Register</a></li>
  </ul>
</header>